@import 'mixin';

#container {
  position: relative;
  height: 100vh;
  background-color: teal;
  .animate-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & span {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }

    &.inview {
      & .char {
        display: inline-block;
        @include animation(
          $name: kf-animate-chars,
          $duration: 0.5s,
          $timing-function: ease,
          $fill-mode: both)
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }


}