.item img {
  max-width: 100%;
  margin-bottom: 8px;
  vertical-align: bottom;
}

.appear.up .item {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.appear.down .item {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.appear.left .item {
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

.appear.right .item {
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
}

.appear {
  position: relative;
  overflow: hidden;
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation-name: kf-cover-show;
          animation-name: kf-cover-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.appear.inview .item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.appear::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eaebe6;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@-webkit-keyframes kf-cover-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-cover-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=fadeIn-animation.css.map */