* {
	margin:0;
	padding:0;
}

header {
  position: fixed;
}

header img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 36px;
  margin: 16px 0;
  text-align: center;
}

.img_unit {
  position: relative;
}

.inner {
  position: absolute;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 32px;
  bottom: 24px;
  left: 24px;
}

.inner p:nth-child(2) {
  font-size: 16px;
  padding: 8px 0 0 0;
}