* {
	margin:0;
	padding:0;
}

header {
}

header img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 36px;
  margin: 16px 0;
  text-align: center;
}

.img_unit {
  position: relative;
}


.inner .caption{
  position: absolute;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 32px;
  bottom: 24px;
  left: 24px;
  border-radius: 10px;
}

.inner p:nth-child(2) {
  font-size: 16px;
  padding: 8px 0 0 0;
}

.inner .buttons{
  position: absolute;
  right: 16px;
  bottom: 32px;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  background-color: #afa58d;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  opacity: 0.9;
}

.button_contact {
  background-color: #f1b400;
}