* {
	margin:0;
	padding:0;
}

body {
  margin: 0 16px;
}

header {
}

header img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 36px;
  margin: 16px 0;
  text-align: center;
}

.img_unit {
  position: relative;
}


.inner .caption{
  position: absolute;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 32px;
  bottom: 24px;
  left: 24px;
  border-radius: 10px;
}

.inner p:nth-child(2) {
  font-size: 16px;
  padding: 8px 0 0 0;
}

.inner .buttons{
  position: absolute;
  right: 16px;
  bottom: 32px;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  background-color: #afa58d;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  opacity: 0.9;
}

.button_contact {
  background-color: #f1b400;
}

.about {
}

.about h2 {
  background-color: #188DC8;
  margin: 30px 0 15px;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.works {
  background-color: #f4f4f4;
  
  
}

.works h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
}

.works_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 16px;
  
}

.work_box a:hover {
  opacity: 0.8;
}

.work_box img {
  width: 300px;
  height: auto;
  margin: 0 0 16px 0;
}

.work_text {
  text-align: center;
  margin: 0 0 16px 0;
}

.work_text .button{
  margin: 24px 0 0 0;
}