/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.buttons {
  opacity: 1;
}

// ↓opacityが0のまま表示されない
.caption {
  opacity: 1;
  p {
    opacity: 1;
  }
}

.about h2 {
  background-color: #188DC8;
  margin: 30px 0 15px;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.works_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  .service_text {

  }
}

.contact {
  .contact_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
}