.img_unit {
  margin-bottom: 100px;
  .inner {
    .caption {
      font-size: small;
      bottom: 0px;
      left: 10px;
    }
    .buttons {
      top: 0px;
      right: 0px;
    }
  }
}

.button {
  display: block;
}

.works_wrapper {
  display: block;
  .work_box {
    text-align: center;
    padding-bottom: 80px;
    .work_text .button {
      display: block;
      margin: 32px auto;
    }
  }
}

.service_wrapper {
  display: block;
  .service_box {
    padding-bottom: 80px;
  }
}