@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
img {
  max-width: 100%;
  vertical-align: bottom;
}

.buttons {
  opacity: 0;
  position: absolute;
  right: 2%;
  bottom: 2%;
  z-index: 2;
}

.button {
  display: inline-block;
  width: 180px;
  padding: 20px;
  background-color: #afa58d;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}

.button_contact {
  background-color: #f1b400;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 36px;
  margin: 16px 0;
  text-align: center;
}

header .hero {
  position: relative;
}

header .hero .swiper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header .hero .swiper .swiper-inner .caption {
  position: absolute;
  padding: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 20px;
  bottom: 2%;
  left: 2%;
  border-radius: 10px;
  z-index: 2;
}

header .hero .swiper .swiper-inner p {
  opacity: 1;
  margin: 0 auto;
  padding: 0 8px;
}

header .hero .swiper .swiper-inner p:nth-child(2) {
  font-size: 12px;
  padding: 0px;
}

.about h2 {
  background-color: #188DC8;
  margin: 30px 0 15px;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.works {
  background-color: #f4f4f4;
}

.works h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
}

.works_wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 16px;
}

.work_box {
  text-align: center;
  margin: 32px 0px;
}

.work_box a:hover {
  opacity: 0.8;
}

.work_box img {
  width: 300px;
  height: auto;
}

.work_text {
  text-align: center;
  margin: 0 0 16px 0;
}

.work_text .button {
  margin: 24px 0 0 0;
}

.service {
  text-align: center;
}

.service_box:nth-child(2) {
  margin: 0 48px 0;
}

.service h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 32px;
}

.service_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.service_wrapper .service_box {
  margin: 32px auto;
}

.service_wrapper .service_box .service_text {
  margin: 0 auto;
  width: 300px;
}

.service_icon {
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 5.6rem;
  text-align: center;
}

.service_icon::before {
  line-height: 142px;
}

.contact {
  text-align: center;
}

.contact h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 32px;
}

.contact .contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.contact .contact_form .input_name {
  padding: 8px;
  margin-bottom: 10px;
}

.contact .contact_form textarea {
  padding: 8px;
  margin-bottom: 10px;
}

.contact .contact_form .input_submit {
  padding: 8px;
  width: 20%;
  margin: 0 auto;
  background-color: #f1b400;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.footer .copy_right {
  text-align: center;
  margin: 32px 0px;
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media screen and (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .buttons {
    opacity: 1;
  }
  .caption {
    opacity: 1;
  }
  .caption p {
    opacity: 1;
  }
  .works_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

@media screen and (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), (-webkit-min-devise-pixel-ratio: 2) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */